{% macro htmx %}
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/sse.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/remove-me.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/debug.js"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
{% endmacro htmx %}

{% macro tailwind %}
<script src="https://cdn.tailwindcss.com"></script>
<script>
  tailwind.config = {
    darkMode: 'class',
    theme: {
      extend: {
        fontFamily: {
          mono: ['Courier Prime', 'monospace'],
        }
      },
    },
  }
</script>
{% endmacro tailwind %}

{% macro fontawesome %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"></script>
{% endmacro fontawesome %}

{% macro copy_button(text, url, color="blue", textColor="white") %}
<button _="
        on click
        writeText({{url}}) on navigator.clipboard
        then put 'Link copiado' into #notification-popup
        send notification to #notification-popup
        "
  class="transition w-fit duration-300 ease-in-out bg-{{color}}-500 hover:bg-{{color}}-700 text-{{textColor}} font-bold py-2 px-4 rounded flex flex-row items-center self-center m-4"
  hx-disable type="button" title="copiar overlay de casters para o obs">
  <span>{{text}}</span>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"
    stroke-width="2">
    <path stroke-linecap="round" stroke-linejoin="round"
      d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
  </svg>
</button>
{% endmacro copy_button %}
