{%- import "base/macros.html" as macros -%}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, follow" />
  <meta name="revisit-after" content="7 days" />
  <meta name="language" content="Portuguese" />
  {% block head %}
  <title>{% block title %}{{title}}{% endblock title %}</title>
  {% call macros::htmx() %}
  {% call macros::tailwind() %}
  {% call macros::fontawesome() %}
  {% endblock head %}
</head>

<body class="font-sans">
  <main>
    {% block main %}{% endblock main %}
  </main>
</body>
