<style>
.matches-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.team {
  width: 100%;
}

.vs {
  display: table-cell;
  white-space: nowrap;
}
</style>
<div class="matches-grid grid grid-cols-3 w-full text-xl font-bold text-white my-4">
  {% for match_ in todays_matches %}
  <div class="team text-right flex flex-row items-center justify-end {% if match_.completed %} text-gray-400 {% else if match_.in_progress -%} text-white animate-pulse {%- else %} text-white {%- endif %}">
    <span class="text-2xl">{{match_.team_a | team_display_name }}</span>
    {% if let Some(img) = match_.team_a.image %}
    <img class="ml-2 max-h-6 max-w-6 rounded-full" src="{{img.url}}" alt="">
    {% endif %}
    <span class="ml-2 {% if match_.completed %}{% if match_.team_a_score < match_.team_b_score %} text-red-400 {% else %} text-green-400 {% endif %}{% endif %}">
      {{match_.team_a_score}}
    </span>
  </div>
  <span class="font-bold mx-4 vs {% if match_.completed %}text-blue-400{% else %}text-gray-400{% endif %}">vs</span>
  <div class="team text-left flex flex-row items-center justify-start {% if match_.completed %} text-gray-400 {% else if match_.in_progress -%} text-white animate-pulse {%- else %} text-white {%- endif %}">
    <span class="mr-2 {% if match_.completed %}{% if match_.team_b_score < match_.team_a_score %} text-red-400 {% else %} text-green-400 {% endif %}{% endif %}">
      {{match_.team_b_score}}
    </span>
    {% if let Some(img) = match_.team_b.image %}
    <img class="mr-2 max-h-6 max-w-6 rounded-full" src="{{img.url}}" alt="">
    {% endif %}
    <span class="text-2xl">{{match_.team_b | team_display_name }}</span>
  </div>
  {% endfor %}
</div>
