<style>
.matches-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.team {
  width: 100%;
}

.vs {
  display: table-cell;
  white-space: nowrap;
}

.bg-background {
  background-color: #1D1D1D;
}
.bg-table {
  background-color: #323232;
}
.bg-header {
  background-color: #4180B0;
}
</style>

{% macro match_line(match_) %}
<div class="team text-right flex flex-row items-center justify-end {% if match_.completed %} text-gray-400 {% else if match_.in_progress -%} text-white animate-pulse {%- else %} text-white {%- endif %}">
  <span class="text-4xl">{{match_.team_a | team_display_name }}</span>
  {% if let Some(img) = match_.team_a.image %}
  <img class="ml-2 max-h-10 max-w-10" src="{{img.url}}" alt="">
  {% endif %}
</div>
<div class="flex items-center justify-center {% if match_.in_progress %}animate-pulse{% endif %}">
{% if match_.completed || match_.in_progress %}
  <span class="ml-2 text-4xl {% if match_.completed %}{% if match_.team_a_score < match_.team_b_score %} text-red-400 {% else %} text-green-400 {% endif %}{% endif %}">
    {{match_.team_a_score}}
  </span>
  <span class="text-2xl mx-2">-</span>
  <span class="mr-2 text-4xl {% if match_.completed %}{% if match_.team_b_score < match_.team_a_score %} text-red-400 {% else %} text-green-400 {% endif %}{% endif %}">
    {{match_.team_b_score}}
  </span>
{% else %}
  <span class="font-bold mx-4 text-2xl vs text-gray-400">vs</span>
{% endif %}
</div>
<div class="team text-left flex flex-row items-center justify-start {% if match_.completed %} text-gray-400 {% else if match_.in_progress -%} text-white animate-pulse {%- else %} text-white {%- endif %}">
  {% if let Some(img) = match_.team_b.image %}
  <img class="mr-2 max-h-10 max-w-10" src="{{img.url}}" alt="">
  {% endif %}
  <span class="text-4xl">{{match_.team_b | team_display_name }}</span>
</div>
{% endmacro %}

<div class="flex flex-col">
  <div class="bg-header text-white text-4xl text-center w-full font-bold py-2 px-4 rounded-t-2xl">
    Partidas de Hoje
  </div>
  <div class="px-4 bg-table max-h-66 flex-grow text-white">
    <div class="matches-grid grid grid-cols-3 w-full text-xl font-bold text-white my-4">
      {% for match_ in todays_matches %}
      {% if !match_.featured %}
      {% call match_line(match_) %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% if todays_matches | has_featured %}
  <div class="bg-header text-white text-4xl text-center w-full font-bold py-2 px-4">
    SAPG
  </div>
  <div class="px-4 bg-table max-h-66 flex-grow text-white">
    <div class="matches-grid grid grid-cols-3 w-full text-xl font-bold text-white my-4">
      {% for match_ in todays_matches %}
      {% if match_.featured %}
      {% call match_line(match_) %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <!-- <div class="w-72 h-72 flex flex-col justify-center items-center self-center"> -->
  <!--   <img src="/assets/SASL-with-text.png" alt="SASL Logo" class="w-full h-full object-contain"> -->
  <!-- </div> -->
</div>
