{% extends "base/overlay.html" %}

{% block title %} Waiting Overlay {% endblock title %}

{% block head %}
{% call super() %}
{% endblock head %}

{% block main %}
<div hx-ext="sse" sse-connect="/sse?channel=overlay_{{overlay_id}}">
  <div class="overlay">
    <style>
.casters-logo {
  margin-right: -70px;
  margin-left: -70px;
  z-index: 1;
}
  .caster-portrait {
    max-width: 600px;
    max-height: 600px;
  }

  .background {
    background-image: url('/assets/background-logo.png');
    background-repeat: repeat;
    background-size: 500px;
    animation: scrollBackground 500s linear infinite;
  }

  @keyframes scrollBackground {
    from {
      background-position: 5500px 0;
    }
    to {
      background-position: 0 5500px;
    }
  }
  .bg-background {
    background-color: #1D1D1D;
  }
  .bg-table {
    background-color: #323232;
  }
  .bg-header {
    background-color: #4180B0;
  }
    </style>
    <div class="background bg-background min-h-screen min-w-screen">
      {% block casters_content %}
      <div class="container mx-auto px-4 py-8 flex flex-col min-h-screen" sse-swap="caster_overlay_update">
        <div class="flex flex-row flex-grow justify-center">
          <div class="flex flex-col flex-grow caster-portrait">
            <div class="bg-table h-66 max-h-66 flex-grow">
              {% if let Some(cs) = casters %}
              <iframe
                class="w-full h-full"
                src="{{ cs.0.stream_video }}"
                frameborder="0">
              </iframe>
              {% endif %}
            </div>
            <div class="bg-header text-white text-4xl font-bold py-2 px-4 text-center">
              {% if let Some(cs) = casters %}
              {{ cs.0.name }}
              {% endif %}
            </div>
          </div>

          <div class="w-72 h-72 flex flex-col justify-center items-center self-center casters-logo">
            <img src="/assets/SASL-with-text.png" alt="SASL Logo" class="w-full h-full object-contain">
          </div>

          <div class="flex flex-col flex-grow caster-portrait">
            <div class="bg-table h-66 max-h-66 flex-grow">
              {% if let Some(cs) = casters %}
              <iframe
                class="w-full h-full"
                src="{{ cs.1.stream_video }}"
                frameborder="0">
              </iframe>
              {% endif %}
            </div>
            <div class="bg-header text-white text-4xl font-bold py-2 px-4 text-center">
              {% if let Some(cs) = casters %}
              {{ cs.1.name }}
              {% endif %}
            </div>
          </div>
        </div>

        <div class="mt-8 flex flex-col flex-shrink justify-between items-center">
          <!-- Starting Soon Text -->
          <div class="text-white text-2xl md:text-4xl font-bold text-center my-20">
          </div>
        </div>
      </div>
      {% endblock casters_content %}
    </div>
  </div>
</div>

{% endblock main %}
