{% extends "base/overlay.html" %}
{%- import "base/macros.html" as macros -%}

{% block title %} Fase do campeonato {% endblock title %}

{% block main %}
<style>
  .phase {
    min-width: 200px;
    width: fit-content;
    /* height of trapezoid (about 40% more than the font size) */
    border-top: 28px solid;
    border-top-color: #2e2e2e;
    /* calculated to form height/tan(50°) */
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    background: transparent;
    display: flex;
  }

  .text {
    font-size: 20px;
    text-shadow: 4px 4px 4px black;
    color: white;
    text-align: center;
    width: 100%;
    margin-top: -30px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .centralized-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
  }
</style>

<div class="flex flex-col w-screen items-center" hx-ext="sse" sse-connect="/sse?channel=overlay_{{overlay_id}}" sse-swap="championship_phase_update" hx-swap="innerHTML">
  {% block phase %}
  {% if let Some(phase) = championship_phase %}
  {% if !phase.is_empty() %}
  <div class="phase">
    <span class="text">
      {{ phase | uppercase }}
    </span>
  </div>
  {% endif %}
  {% endif %}
  {% endblock phase %}
</div>
{% endblock main %}
