<div>
  <span></span>
  <form class="flex flex-col items-center" hx-put="/app/tournament/{{ tournament_slug }}/overlay/{{overlay.id}}/teams" hx-target="previous span">
    <div class="flex flex-row m-10">
      <div>
        <label for="team_a" class="block mb-2 text-sm font-medium text-gray-900">Team A:</label>
        <select id="team_a" name="team_a" size="11"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
          {% for team in teams %}
          <option value={{ team.id }}>{{ team.name }} </option>
          {% endfor %}
        </select>
      </div>
      <span class="px-5">vs</span>
      <div>
        <label for="team_b" class="block mb-2 text-sm font-medium text-gray-900">Team B:</label>
        <select id="team_b" name="team_b" size="11"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5">
          {% for team in teams %}
          <option value={{ team.id }}>{{ team.name }} </option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="flex flex-row justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit"
        value="Submit">Save</button>
      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        hx-post="/championship/clearMatch" hx-target="closest body">Clean Match</button>
    </div>
  </form>
</div>
