<main hx-swap="outerHTML" class="mt-4 text-center flex flex-col items-center justify-center">
  <section class="w-3/4 flex flex-col my-6 item-center">
    <span class="bg-slate-300 w-full text-center font-bold py-2">
      Overlay
    </span>
    <button _="
            on click
            writeText(window.location.origin + '/stream_overlay/{{overlay_id}}/ingame') on navigator.clipboard
            then put 'Link copiado' into #notification-popup
            send notification to #notification-popup
            "
      class="transition w-fit duration-300 ease-in-out bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex flex-row items-center self-center m-4"
      hx-disable type="button" title="copiar overlay de casters para o obs">
      <span>Copiar link do overlay do placar / ingame para o OBS</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
      </svg>
    </button>
  </section>
  <section class="w-3/4 flex flex-col my-6 item-center">
    <span class="bg-slate-300 w-full text-center font-bold py-2">
      Configurar Times
    </span>
    <form id="nickname-form" class="flex flex-col items-center gap-6" hx-post="/app/tournament/{{ tournament_slug }}/overlay/{{overlay_id}}/teams/nickname" hx-target="closest main">
      <span class="text-lg">Renomear / Apelidar time</span>
      <div class="flex flex-row">
        <select name="team"
          class="bg-gray-50 border border-blue-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-1"
          onchange="this.setCustomValidity('');"
          hx-on:htmx:validation:validate="if (this.value == 'null') { this.setCustomValidity('Selecione um time'); htmx.find('#nickname-form').reportValidity(); }"
          _="on change
          set team_id to my value
          then get 'team_nickname_'
          then append team_id
          then get the value of #{it}
          then put it into #team_nickname.value">
          <option value="null">Selecione um time</option>
          {% for team in teams %}
          <option value="{{ team.id }}">{{ team | team_full_name }}</option>
          {% endfor %}
        </select>
        <input id="team_nickname" placeholder="Apelido do time" class="min-w-96 p-2 border-gray-300 rounded-md shadow-md focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" type="text" name="team_nickname">
        {% for team in teams %}
        <input type="hidden" id="team_nickname_{{team.id}}" value="{% if let Some(nickname) = team.nickname %}{{ nickname }}{% endif %}">
        {% endfor %}
      </div>
      <div class="flex flex-row justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" value="Submit">Aplicar</button>
      </div>
    </form>
  </section>
  <section class="w-3/4 flex flex-col my-6 item-center">
    <span class="bg-slate-300 w-full text-center font-bold py-2">
      Partida
    </span>
    <form class="flex flex-col items-center" hx-put="/app/tournament/{{ tournament_slug }}/overlay/{{overlay_id}}/ingame" hx-target="previous span">
      <div class="flex flex-row m-10">
        <div>
          <label for="team_a" class="block mb-2 text-sm font-medium text-gray-900">Team A:</label>
          <select id="team_a" name="team_a" size="11"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            {% for team in teams %}
            <option value={{ team.id }}>{{ team | team_full_name }} </option>
            {% endfor %}
          </select>
        </div>
        <span class="px-5">vs</span>
        <div>
          <label for="team_b" class="block mb-2 text-sm font-medium text-gray-900">Team B:</label>
          <select id="team_b" name="team_b" size="11"
                                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5">
            {% for team in teams %}
            <option value={{ team.id }}>{{ team | team_full_name }} </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="flex flex-row justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit"
                                                                                             value="Submit">Save</button>
        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
                hx-post="/championship/clearMatch" hx-target="closest body">Clean Match</button>
      </div>
    </form>
  </section>
</main>
